$facebook-color: #1078F2;
$instagram-color:white ;
$linkedin-color:#2367B3;
$twitter-color: #17A3F2;
$whatsapp-color: #50F16F;
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}